@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');
*{
	margin: 0;
	padding: 0;
	font-family: Exo;
}
body{
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
.logo{
	width: 100px;
	height: 100px;
	margin-left: 226px;
	margin-top: 20px;
}
.flex-container {
    display: flex;
}
.body{
	margin-top: 60px;
}
h1{
	display: block;
	font-size: 72px;
	margin-left: 245px;
	letter-spacing: 10px;
}
p{
	font-size: 24px;
	margin-left: 245px;
	margin-top: 25px;
	opacity: 0.8;
	letter-spacing: 5px;
	line-height: 40px;
}
.buttons{
	margin-top: 40px;
}
.rectangle{
	float: left;
	width: 200px;
	height: 50px;
	background: linear-gradient(to bottom right, rgba(236,34,41,0.3), #FFCD96);
	margin-left: 245px;
	border-radius: 10px;
	box-shadow: 0px 4px 4px #000000;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: #000000;
}
.img{
	float: right;
	display: flex;
	margin-left: 100px;
}
.chicken{
	opacity: 0.7;
	width: 600px;
	height: 600px;
}
footer{
	margin-top: auto;
	background: linear-gradient(to bottom right, rgba(236,34,41,0.3), #FFCD96);
}
.social-media{
	display: flex;
	justify-content: center;
	align-items: center;
}
.social-media a{
	text-decoration: none;
	font-size: 30px;
	margin: 20px 20px;
	color: #000;
	opacity: 0.7;
}
.rights{
	letter-spacing: 2px;
	font-size: 0.8em;
	color: #000;
	text-align: center;
	margin: unset;
	line-height: 25px;
	padding-bottom: 10px;
	opacity: 1;
}



/*********************************Mobile View*****************************************/
@media only screen and (max-width: 480px){ 
	.logo{
	width: 70px;
	height: 70px;
	margin-left: 40px;
	margin-top: 10px;
	}
	.flex-container{
		display: block;
	}
	.body{
		margin-top: 30px;
	}
	h1{
		font-size: 40px;
		margin:auto;
		letter-spacing: 5px;
		text-align: center;
	}
	p{
		font-size: 12px;
		margin: unset;
		margin-top: 15px;
		text-align: center;
		letter-spacing:3px;
		line-height:30px;
	}
	.img{
		float:unset;
		display:flex;
		justify-content:center;
		align-items:center;
		margin:auto;
	}
	.chicken{
		width: 250px;
		height: 250px;
	}
	.buttons{
		margin-top: 20px;
	}
	.rectangle{
		float: none;
		width: 150px;
		height: 40px;
		margin:auto;
	}
	a{
		font-size: 13px;
	}
	.social-media a{
		font-size: 20px;
		margin: 10px 10px;
	}
	.rights{
		font-size: 0.5em;
	}
}
